.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/
dist/
build/
*.egg
*.whl
*.so
*.dll
*.dylib
*.exe
*.out
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp
*.tmp.*
*.~*
*~

palabos_sim/src/2-phase_LBM/build
palabos_sim/src/1-phase_LBM/build

palabos_sim/src/2-phase_LBM/ShanChen
palabos_sim/src/1-phase_LBM/permeability

palabos_sim/src/palabos-v2.2.1

.cache/