.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.egg-info/
dist/
build/
*.egg
*.whl
*.so
*.dll
*.dylib
*.exe
*.out
*.log
*.swp
*.swo
*.swn
*.bak
*.tmp
*.tmp.*
*.~*
*~

mplbm-ut-mirror/src/2-phase_LBM/build
mplbm-ut-mirror/src/1-phase_LBM/build
